{:remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :remove-consecutive-blank-lines? true
 :indent-line-comments? true
 :insert-missing-whitespace? true
 :align-form-columns? false
 :align-map-columns? false
 ;:extra-indents {foo [[:inner 0]]}
 :test (comment
         (let [a 1
               aa 2
               aaa 3])
         (foo 1
              2
              {:a a
               :aa a
               :bbb bbb}))}