{:slides ["slides/hello.md"
          "slides/composition.md"
          "slides/settings.md"
          "slides/repl.md"
          "slides/jack-in-connect.md"
          "slides/cljs-repl.md"
          "slides/connect-sequences.md"
          "slides/repl-commands.md"
          "slides/extension-points.md"
          "slides/joyride.md"
          "slides/checkpoint.md"
          "slides/bbg.md"
          "slides/backseat-driver.md"
          "slides/ai-learnings.md"]}